
#critical passwords and things I don't want to share
.env

#python junk
__pycache__
virtualenv

#pytest junk
.pytest_cache

#data
*.csv

#scratchpadfiles
DataJob.py
script.py
specs.txt